.container {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prevCard {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    pointer-events: none;
    border: 1px solid #aaa;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    background: #e2ffe3;
    box-sizing: border-box;
    transition: transform 1.5s;
}

.movePart {
    position: absolute;
    width: 300px;
    height: 300px;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    animation: show 0.5s;
}

@keyframes shirtRotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes contentRotate {
    0% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.shirt {
    position: absolute;
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
    backface-visibility: hidden;
    animation: shirtRotate 1s 0.3s forwards;
    background-color: #b9ffbd;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 50%);
    background-size: 15px 15px;
}

.content {
    border: 1px solid #aaa;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background: #e2ffe3;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: contentRotate 1s 0.3s forwards;
}

.description {
}

.character {
    font-style: italic;
}

.choice {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 100px;
    padding: 10px;
    text-align: center;
    background: rgba(62, 232, 70, 0.9);
    font-size: 18px;
    font-weight: 700;
    animation: show 0.2s;
}

@media (max-width: 350px) {
    .container {
        height: 250px;
    }
    .movePart,
    .prevCard {
        width: 250px;
        height: 250px;
    }
    .choice {
        width: 250px;
    }
}
