.container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
}

@keyframes shirtHide {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

.cont2 {
    width: 300px;
    height: 300px;
    animation: shirtHide 1s;
}

@keyframes shirtHide {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

.shirt {
    position: absolute;
    height: 300px;
    background: #929292;
    border-radius: 10px;
    box-sizing: border-box;
}

@keyframes show {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.movePart {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    padding: 20px;
    background: #d7ffd9;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    box-sizing: border-box;
    touch-action: none;
    animation: show 1s 1s forwards;
    transform: scaleX(0);
}

.description {
}

.character {
    font-style: italic;
}

.choice {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 100px;
    padding: 10px;
    text-align: center;
    background: rgba(62, 232, 70, 0.9);
    font-size: 18px;
    font-weight: 700;
}

.choiceEnter {
    opacity: 0;
}

.choiceEnterActive {
    opacity: 1;
    transition: opacity 200ms;
}

.choiceExit {
    opacity: 1;
}

.choiceExitActive {
    opacity: 0;
    transition: opacity 50ms;
}

@media (max-width: 350px) {
    .container {
        height: 250px;
    }
    .movePart {
        width: 250px;
        height: 250px;
    }
    .choice {
        width: 250px;
    }
}
